<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.zoho.remoteaccess.ZohoPingAgent</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Library/Application Support/MERemoteAccess/ZohoPingAgent</string>
		<string>ZohoPingAgent</string>
		<string>-productId</string>
		<string>2</string>
	</array>
	<key>KeepAlive</key>
	<dict>
		<key>SuccessfulExit</key>
		<false/>
	</dict>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
